<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Layout Page</title>
</head>

<body>
  <!-- Corpo da página -->
  <!-- header -->
  <div>
    <div> <!-- corpo-header -->
      <div><!-- logo tipo site -->
        <a href="#"><img src="#" alt="logo-tipo-site"></a>
      </div>
      <div>
        <ul> <!-- menu-navegação -->
          <li><a href="#"></a>Home</li>
          <li><a href="#"></a>Contact</li>
          <li><a href="#"></a>About</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- conteúdo site -->
  <div></div> <!-- estrutura conteúdo por seções dentro do site -->
  <div></div> <!-- estrutura conteúdos lateriais -->
  <div></div> <!-- geralmente usamos para adicionar artigos -->

  <!-- footer/rodapé -->
  <div>
    <p>Rodapé site</p>
  </div>
</body>

</html>