<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Layout Page</title>
</head>

<body>

  <!-- Corpo da página -->
  <main>
    <!-- header -->
    <header>
      <nav>
        <div><!-- logo tipo site -->
          <a href="#"><img src="#" alt="logo-tipo-site"></a>
        </div>
        <div>
          <ul> <!-- menu-navegação -->
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Contact</li>
            <li><a href="#"></a>About</li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- conteúdo site -->
    <section></section> <!-- estrutura conteúdo por seções dentro do site -->
    <aside></aside> <!-- estrutura conteúdos lateriais -->
    <article></article> <!-- geralmente usamos para adicionar artigos -->

    <!-- footer/rodapé -->
    <footer>
      <p>Rodapé site</p>
    </footer>
  </main>

</body>

</html>